# Python
dist
*.egg-info
*.so
__pycache__


# Gitignore

# VScode
.vscode/
.vscode/*
**/.vscode/*
!.vscode/extensions.json

# General
_build/
.sass-cache
_posts
_site


# CMake build directories
build/
*/build/

# External project auto-download directories
flightlib/externals/
*/externals/*-build/
*/externals/*-src/
*/externals/*-download/

# Temporary output frames
flightrl/examples/frames/

# Unity build cache (optional but recommended)
flightrender/Build/
flightrender/Library/
flightrender/Temp/
flightrender/Logs/

# runs (models and images)/
flightrl/drqv2_src/runs/